.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}
.icon-bars a {
  display: block;
  text-align: center;
  padding: 4px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  width: 40px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}
.icon-bars a:hover {
  background-color: #000;
}

.facebook {
  color: black;
  width: 60px;
  height: 60px; 
}
.facebook:hover{
  background-color: rgb(0, 182, 254);
  color:white
}

.twitter {
  color: black;
  width: 60px;
  height: 60px; 
}
.twitter:hover{
  background-color: rgb(0, 182, 254);
  color:white
}

.google {
  color: black;
  width: 60px;
  height: 60px; 
}
.google:hover {
  background-color: red;
  color:white
  
}

.linkedin {
  color: black;
  width: 60px;
  height: 60px; 
}
.linkedin:hover{
  background-color: rgb(0, 182, 254);
  color:white
}

.youtube {
  color: black;
  width: 60px;
  height: 60px; 
}
.youtube:hover {
  background-color: red;
  color:white
}
.first {
  filter: drop-shadow(30px 30px 30px #3a24c5);
}


